@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-brand-blue: #4A8BB2;
  --color-brand-dark: #0A1D29;
  --color-brand-accent: #F47C20;

  /* Text */
  --color-text-main: #F2F2F2;
  --color-text-muted: #94a3b8;

  /* Theme Defaults */
  --background: var(--color-brand-dark);
  --foreground: var(--color-text-main);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-blue: var(--color-brand-blue);
  --color-brand-dark: var(--color-brand-dark);
  --color-brand-accent: var(--color-brand-accent);

  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);

  --font-heading: var(--font-montserrat);
  --font-body: var(--font-open-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}